@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mg-20{
  margin: 0px 70px !important;
}



.font-mulish{
  font-family: "Mulish", sans-serif;
}
.font-play{
  font-family: "Playfair Display", serif;
}
.font-sans{
  font-family: "Instrument Sans", serif;
}


.nav-left-btn{
  width: 338px;
  height: 56px;
  background-color: #3A3A3A !important;
  color: #FFFDF9 !important;
  border-radius: 5px;
  font-size: 20px;
}


/* Font Sizes */
.fs-12{
  font-size: 12px;
}
.fs-14{
  font-size: 14px;
}
.fs-18{
  font-size: 18px;
}
.fs-20{
  font-size: 20px;
}
.fs-22{
  font-size: 22px;
}
.fs-24{
  font-size: 24px;
}
.fs-26{
  font-size: 26px;
}
.fs-28{
  font-size: 28px;
}
.fs-30{
  font-size: 30px;
}
.fs-32{
  font-size: 32px;
}
.fs-42{
  font-size: 42px;
}
.fs-48{
  font-size: 48px;
}
.fs-56{
  font-size: 56px;
}
.fs-80{
  font-size: 80px;
}


/* Font Weight */

.fw-500{
  font-weight: 500;
}
.fs-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}


/* Padding Left and Right */
.padding-lr{
  padding: 0px 20px;
}



/* line-height */
.line-h1{
  line-height: 80px;
}
.line-0{
  line-height: 24px;
}

/* Section 1 */


.sec1-top{
  background-color: #F4E2E1;
  border-top-left-radius: 20px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}
.sec1-bottom{
  background-color: #A2D2FF;
  border-bottom-left-radius: 20px;
  height: 120px;
  padding: 20px 60px;
}
.sec1-col2{
  background-image: url('../public/Section1Lady.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 720px;
}

.section1{
  height: 720px;
}






.sec1-btn{
  width: 148px;
  height: 56px;
  background-color: #3A3A3A;
  border: 1px solid black;
  border-radius: 5px;
  color: #FFFDF9;
  font-size: 18px;
  font-weight: 500;

  margin-left: 50px;
}








/* Section 2 */


.sec2-col1{
  background-image: url('../public/Mask.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 850px;
}

.sec2-top{
  display: flex;
  flex-direction: column;
  /* height: 60%;  */
  justify-content: center;
  gap: 30px;
}
.sec2-bottom{
  background-color: white;
  margin-top: 33px;
  height: 37%;
  width: 95%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 42px;
  margin-left: -10px;
}



.section2-color{

  background-color: #C5E5E0;
}



.section2-btn{
  width: 215px;
  height: 44px;
  background-color: #FFFFFF;
  font-size: 22px;  
  font-weight: 500;
  border: none;
  margin-left: -12px;
}
.section2-btn2{
  max-width: 338px;
  height: 56px;
  border-radius: 5px;
  background-color: #3A3A3A;
  padding: 0px 32px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
}



.sec2-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  /* height: 235px; */
  margin-bottom: 10px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.visa-cart{
  width: 350px;
  height: 250px;
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 10px;
}
.cart-image{
  width: 50px;
  height: 50px;
}


/* Section 3 */


.sec3-col{
  background-color: #D2E5F4;
  padding: 100px 100px 100px 100px;
  border-radius: 20px;
}

.section3-picture img{
  height: 794px;
  width: 680px;
}
.section3-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px;
  width: 700px;
  gap: 10px;

}
.section3-btn{
  width: 240px;
  height: 50px;
  border-radius: 5px;
  background-color: #3A3A3A;
  color: #FFFDF9;
  padding: 5px 10px;
}

/* Section 4  */

.section4-content1{
  height: 450px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  

}

.section4-btn{
  width: 270px;
  height: 50px;
  border-radius: 5px;
  background-color: #3A3A3A;
  color: #FFFDF9;
  padding: 5px 10px;
}

.section4-main{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 450px;
  width: 100%;
  /* justify-content: center; */
}
.section4-img{
  width: 40%;
}
.section4-img img{
  width: 100%;
  height: 450px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.section4-content2{
  height: 450px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E0CDE3;
  padding: 15px 30px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}



/* Section 5 */

.section5-color{
  background-color: #FEDCE2;
  border-radius: 20px;
}
.section5{
  display: flex;
  flex-direction: column;
  /* height: 720px; */
  justify-content: space-between;
}
.section5-one{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  margin-left: 20px;
  height: 430px;
}

.section5-img img{
  height: 790px;
  width: 100%;
  
}
.section5-two{
  background-color: #FFFFFF;
  width: 100%;
  border-top-left-radius: 30px;
  padding: 20px;
  margin-left: 10px;
  height: 310px;
}

.section5-btn{
  width: 215px;
  height: 44px;
  background-color: #FFFFFF;
  font-size: 22px;  
  font-weight: 700;
  margin-left: -33px;
  border: none;
  border-radius: 10px;
}

.sec5-cart{
  display: flex;
  justify-content: center;
  height: 330px;
  align-items: center;
  gap: 30px;

}

.emp-cart{
  width: 418px;
  height: 307px;
  background-color: #FFFFFF;
  border: 1px solid #E6E8EC80;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}
.emp-cart img{
  width: 60px;
  height: 60px;
  margin-top: 20px;
}



/* Section-6 */

.section6{
  background-color: #E0CDE3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  min-height: 300px;
}
.sec6-btn1{
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background-color: #3A3A3A;
  color: #FFFDF9;
}
.sec6-btn2{
  height: 40px;
  width: 150px;
  border-radius: 5px;
  background-color: #3A3A3A;
  color: #FFFDF9;
}
.btn-group{
  display: flex;
  justify-content: center;
  gap: 20px;

}


/* Section 7  */

.section7{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 350px;
}

.image-group{
  display: flex;
  justify-content: space-around;
  gap: 90px;
  flex-wrap: wrap;
}
.image-group img{
  width: 150px;
  height: 150px;
 
}


/* section 8 */

.section8{
  background-color: #FFFAF0;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;


}
.section8-start{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sec8-cart{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}
.blog-cart{
  width: 290px;
  border-radius: 15px;
}
.blog-cart img{
  width: 100%;
  height: 150px;
}
.blog-content{
  background-color: #FFFFFF;
  line-height: 1.2;
  padding: 10px;
}
.sec8-link{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  line-height: 0;
  text-decoration: underline;
}
.section9{
  display: flex;
  justify-content: center;
  min-height: 350px;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;

}
.sec9-cart1{
  background-color: #C5E5E0;
  width: 390px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;

}
.sec9-cart2{
  background-color: #E0CDE3;
  width: 390px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;

}
.sec9-cart3{
  background-color: #FEDCE2;
  width: 390px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;

}


/* Section 10 */

.section10-color{
  background-color: #FFD59D;
  border-radius: 20px;
}
.section10{
 
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 20px;

}
.sec10-content{
  padding: 80px;
}
.sec10-image{

  height: 500px;
}
.sec10-image img{
  width: 100%;
  height: 100%;
}


/* ========== Footer =========== */

.footer-color{
  background-color: #3A3A3A;
  color: #FFFFFF;
}
.footer{
  min-height: 550px;
}
.footer-description{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #606060;
  min-height: 150px;
}
.footer-links{
  display: flex;
  justify-content: space-around;
  min-height: 300px;
  border-bottom: 1px solid #606060;

}
.footer-logo img{
  height: 75px;
  width: 250px;
}
.footer-desc{
  text-align: center;

}
.footer-icons{
  display: flex;
  color: #FFFFFF;
  justify-content: space-around;
  gap: 10px;
}
.footer-links img{
  width: 25px;
  height: 25px;
}
.footer-btn{
  width: 120px;
  height: 56px;
  background-color:#FFFFFF;
  color: #000000;
}